<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConStrStaggingDB" value="Server=sf53;uid=LSRUser;pwd=wcirblsr;database=StagingDB"/>
		<add key="ConStrLSRDB" value="Server=sf53;uid=LSRUser;pwd=wcirblsr;database=LSRDB"/>

		<!--  Start m_USR_Exposure Section  -->
		<add key="USR_EXPOSURE_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Exposure_Insert_Input.xml"/>
		<add key="USR_EXPOSURE_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Exposure_Update_Input.xml"/>
		<add key="USR_EXPOSURE_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Exposure_Delete_Input.xml"/>

		<add key="USR_EXPOSURE_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Exposure_Insert_Output.xml"/>
		<add key="USR_EXPOSURE_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Exposure_Update_Output.xml"/>
		<add key="USR_EXPOSURE_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Exposure_Delete_Output.xml"/>
		<!--  End m_USR_Exposure Section  -->

		
		<!--  Start m_Employer_BAC Section  -->
		<add key="EMPLOYER_BAC_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Employer_BAC_Insert_Input.xml"/>
		<add key="EMPLOYER_BAC_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Employer_BAC_Update_Input.xml"/>
		<add key="EMPLOYER_BAC_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Employer_BAC_Delete_Input.xml"/>

		<add key="EMPLOYER_BAC_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Employer_BAC_Insert_Output.xml"/>
		<add key="EMPLOYER_BAC_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Employer_BAC_Update_Output.xml"/>
		<add key="EMPLOYER_BAC_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Employer_BAC_Delete_Output.xml"/>
		<!--  End m_Employer_BAC Section  -->

		
		<!--  Start m_USR_Mod_Premium Section  -->
		<add key="USR_MODPREMIUM_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_ModPremium_Insert_Input.xml"/>
		<add key="USR_MODPREMIUM_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_ModPremium_Update_Input.xml"/>
		<add key="USR_MODPREMIUM_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_ModPremium_Delete_Input.xml"/>

		<add key="USR_MODPREMIUM_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_ModPremium_Insert_Output.xml"/>
		<add key="USR_MODPREMIUM_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_ModPremium_Update_Output.xml"/>
		<add key="USR_MODPREMIUM_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_ModPremium_Delete_Output.xml"/>
		<!--  End m_USR_Mod_Premium Section  -->

		
		<!--  Start m_USR Section  -->
		<add key="USR_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Insert_Input.xml"/>
		<add key="USR_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Update_Input.xml"/>
		<add key="USR_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Delete_Input.xml"/>

		<add key="USR_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Insert_Output.xml"/>
		<add key="USR_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Update_Output.xml"/>
		<add key="USR_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Delete_Output.xml"/>
		<!--  End m_USR Section  -->

		
		<!--  Start m_Rating Section  -->
		<add key="RATING_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Rating_Insert_Input.xml"/>
		<add key="RATING_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Rating_Update_Input.xml"/>
		<add key="RATING_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Rating_Delete_Input.xml"/>

		<add key="RATING_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Rating_Insert_Output.xml"/>
		<add key="RATING_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Rating_Update_Output.xml"/>
		<add key="RATING_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Rating_Delete_Output.xml"/>
		<!--  End m_Rating Section  -->

		
		<!--  Start m_USR_Header Section  -->
		<add key="USR_HEADER_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Header_Insert_Input.xml"/>
		<add key="USR_HEADER_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Header_Update_Input.xml"/>
		<add key="USR_HEADER_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Header_Delete_Input.xml"/>

		<add key="USR_HEADER_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Header_Insert_Output.xml"/>
		<add key="USR_HEADER_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Header_Update_Output.xml"/>
		<add key="USR_HEADER_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Header_Delete_Output.xml"/>
		<!--  End m_USR_Header Section  -->

		
		<!--  Start m_USR_Loss_Total Section  -->
		<add key="USR_LOSS_TOTAL_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Total_Insert_Input.xml"/>
		<add key="USR_LOSS_TOTAL_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Total_Update_Input.xml"/>
		<add key="USR_LOSS_TOTAL_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Total_Delete_Input.xml"/>

		<add key="USR_LOSS_TOTAL_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Total_Insert_Output.xml"/>
		<add key="USR_LOSS_TOTAL_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Total_Update_Output.xml"/>
		<add key="USR_LOSS_TOTAL_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Total_Delete_Output.xml"/>
		<!--  End m_USR_Loss_Total Section  -->

		
		<!--  Start m_Work_Control_Records Section  -->
		<add key="WORK_CONTROL_RECORDS_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Work_Control_Records_Insert_Input.xml"/>
		<add key="WORK_CONTROL_RECORDS_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Work_Control_Records_Update_Input.xml"/>
		<add key="WORK_CONTROL_RECORDS_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Work_Control_Records_Delete_Input.xml"/>

		<add key="WORK_CONTROL_RECORDS_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Work_Control_Records_Insert_Output.xml"/>
		<add key="WORK_CONTROL_RECORDS_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Work_Control_Records_Update_Output.xml"/>
		<add key="WORK_CONTROL_RECORDS_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Work_Control_Records_Delete_Output.xml"/>
		<!--  End m_Work_Control_Records Section  -->

		
		<!--  Start m_Test_Audit_Master_Records Section  -->
		<add key="TEST_AUDIT_MASTER_RECORDS_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Test_Audit_Master_Records_Insert_Input.xml"/>
		<add key="TEST_AUDIT_MASTER_RECORDS_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Test_Audit_Master_Records_Update_Input.xml"/>
		<add key="TEST_AUDIT_MASTER_RECORDS_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Test_Audit_Master_Records_Delete_Input.xml"/>

		<add key="TEST_AUDIT_MASTER_RECORDS_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Test_Audit_Master_Records_Insert_Output.xml"/>
		<add key="TEST_AUDIT_MASTER_RECORDS_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Test_Audit_Master_Records_Update_Output.xml"/>
		<add key="TEST_AUDIT_MASTER_RECORDS_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_Test_Audit_Master_Records_Delete_Output.xml"/>
		<!--  End m_Test_Audit_Master_Records Section  -->

		
		<!--  Start m_USR_Loss Section  -->
		<add key="USR_LOSS_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Insert_Input.xml"/>
		<add key="USR_LOSS_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Update_Input.xml"/>
		<add key="USR_LOSS_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Delete_Input.xml"/>

		<add key="USR_LOSS_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Insert_Output.xml"/>
		<add key="USR_LOSS_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Update_Output.xml"/>
		<add key="USR_LOSS_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Loss_Delete_Output.xml"/>
		<!--  End m_USR_Loss Section  -->

		
		<!--  Start m_USR_Total Section  -->
		<add key="USR_TOTAL_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Total_Insert_Input.xml"/>
		<add key="USR_TOTAL_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Total_Update_Input.xml"/>
		<add key="USR_TOTAL_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Total_Delete_Input.xml"/>

		<add key="USR_TOTAL_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Total_Insert_Output.xml"/>
		<add key="USR_TOTAL_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Total_Update_Output.xml"/>
		<add key="USR_TOTAL_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Total_Delete_Output.xml"/>
		<!--  End m_USR_Total Section  -->


		<!--  Start m_USR_Difference Section  -->
		<add key="USR_DIFFERENCE_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Difference_Insert_Input.xml"/>
		<add key="USR_DIFFERENCE_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Difference_Update_Input.xml"/>
		<add key="USR_DIFFERENCE_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Difference_Delete_Input.xml"/>

		<add key="USR_DIFFERENCE_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Difference_Insert_Output.xml"/>
		<add key="USR_DIFFERENCE_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Difference_Update_Output.xml"/>
		<add key="USR_DIFFERENCE_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Difference_Delete_Output.xml"/>
		<!--  End m_USR_Difference Section  -->


		<!--  Start m_USR_Capita Section  -->
		<add key="USR_CAPITA_INSERT_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Capita_Insert_Input.xml"/>
		<add key="USR_CAPITA_UPDATE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Capita_Update_Input.xml"/>
		<add key="USR_CAPITA_DELETE_TEST_DATA_INPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Capita_Delete_Input.xml"/>

		<add key="USR_CAPITA_INSERT_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Capita_Insert_Output.xml"/>
		<add key="USR_CAPITA_UPDATE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Capita_Update_Output.xml"/>
		<add key="USR_CAPITA_DELETE_TEST_DATA_OUTPUT_XML_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\XMLFiles\\m_USR_Capita_Delete_Output.xml"/>
		<!--  End m_USR_Capita Section  -->




		<add key="USR_EXPOSURE_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_EXPOSURE.TXT"/>
		<add key="USR_MODPREMIUM_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_MOD_PREMIUM.TXT"/>
		<add key="EMPLOYER_BAC_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_BAC.TXT"/>
		<add key="USR_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\ID_File.txt"/>
		<add key="RATING_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_CMF_FILE.TXT"/>
		<add key="USR_HEADER_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_HEADER.TXT"/>
		
		<add key="USR_LOSS_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_LOSS.TXT"/>
		<add key="TEST_AUDIT_MASTER_RECORDS_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_TAM.TXT"/>
		<add key="WORK_CONTROL_RECORDS_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_ITA.TXT"/>
		<add key="USR_LOSS_TOTAL_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_LOSS_TOTAL.TXT"/>

		<add key="USR_TOTAL_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_EXPO_TOTAL.TXT"/>
		<add key="USR_CAPITA_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_CAPITA.TXT"/>
		<add key="USR_DIFFERENCE_MAPPING_OUTPUT_DOC" value="D:\\Anitha\\Staging_To_Flatfile_NUnits\\FlatOutputFiles\\CBL_LSR_USR_DIFFERENCE.TXT"/>
		
		
	</appSettings>
	
</configuration>